html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    margin: 0;
    color: #181717;
    background-color: #ffffff;
}

/* Tailwind Font */

.text-sm {
    letter-spacing: -0.0284375rem;
}

/* Links */

a {
    transition: all 0.3s ease-in-out;
}

a:hover {
    opacity: 48%;
}

.active-link {
    opacity: 100%;
}

.active-link:hover {
    opacity: 48%;
}

#project-nav a:hover {
    opacity: 100%;
}

#project-nav .active-link:hover {
    opacity: 48%;
}