@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        @apply text-5xl font-semibold;
        line-height: 1.2;
    }

    h2 {
        @apply text-4xl font-semibold;
        letter-spacing: calc(-0.0325rem * 2.25);
    }

    h3 {
        @apply text-3xl font-semibold;
        letter-spacing: calc(-0.0325rem * 1.875);
    }

    h4 {
        @apply text-2xl font-semibold;
        letter-spacing: calc(-0.0325rem * 1.5);
    }

    h5 {
        @apply text-xl;
        letter-spacing: calc(-0.0325rem * 1.25);
    }

    h6 {
        @apply text-lg;
        letter-spacing: calc(-0.0325rem * 1.125);
    }

    p {
        @apply text-base;
        letter-spacing: calc(-0.0325rem * 1);
    }

    a {
        @apply text-base;
        letter-spacing: calc(-0.0325rem * 1);
    }

    strong {
        @apply text-bk-32;
        font-weight: inherit;
    }
}